---
import "@styles/prism.scss";

import BlogHeader from "./Header.astro";
import Footer from "@layouts/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Metadata from "@components/ui/blog/Metadata.astro";
import FloatingNavigation from "@components/ui/blog/FloatingNavigation.astro";

import pluralize from "pluralize";

const {
  title,
  slug,
  description,
  tag = "anonymous",
  timestamp,
  duration,
  image,
  author,
} = Astro.props.frontmatter ? Astro.props.frontmatter : Astro.props;

const tagDirectory = pluralize(tag).toLowerCase();
---

<Layout
  title={title}
  description={description}
  seoProps={{
    openGraph: {
      basic: {
        title: `Blog post: ${title}`,
        type: "Blog post.",
        image: "https://noctisdark.dev/media/avatar.png",
      },
      image: { alt: "Noctisdark blog icon" },
    },
  }}
>
  <BlogHeader>
    <ul slot="breadcrumbs-items">
      <li><a href="/">/</a></li>
      <li>{tag}</li>
      <li><a href={`/blog/${tagDirectory}/${slug}`}>{title}</a></li>
    </ul>
  </BlogHeader>
  <main class="max-w-screen-lg w-full px-4 py-8 prose">
    <div class="text-center">
      <code class="text-lg bg-transparent text-info glow m-4">/* {tag} */</code>
    </div>

    <article class="main-area">
      <h1 class="text-center">{title}</h1>
      <Metadata timestamp={timestamp} duration={duration} tag={tag} />
      <slot />
      <FloatingNavigation />
    </article>
  </main>
  <Footer style="border-top: 1px solid currentColor" />
</Layout>

<style>
  .main-area {
    position: relative;
  }

  .glow {
    text-shadow: 0 0 8px;
  }
</style>

<!-- <script>
  import setupCodeTabs from "@scripts/codetabs";
  setupCodeTabs();
</script> -->
