---
import pluralize from "pluralize";
import { formatDate } from "@scripts/date";

import Language from "./icons/Language.astro";

interface Props {
  post: any;
}

const { post } = Astro.props;
const tagDirectory = pluralize(post.tag).toLowerCase();
const postUrl = `/blog/${tagDirectory}/${post.slug}`;
---

<a href={postUrl}>
  <div class="card w-full sm:w-96 bg-base-100 shadow-xl">
    <figure>
      <img src={post.image} alt={post.title} />
    </figure>
    <div class="card-body">
      <span class="text-sm text-slate-400">{formatDate(post.timestamp)}</span>
      <div class="card-actions justify-start">
        <div class="badge badge-outline">{post.tag}</div>
        <Language language={post.language} />
      </div>

      <h2 class="card-title">
        {post.title}
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
      <p class="description">{post.description}</p>
    </div>
  </div>
</a>

<style>
  figure {
    height: 200px;
  }

  figure img {
    object-fit: cover;
  }

  .card-body {
    height: 300px;
  }

  .description {
    line-height: 1.5em;
    max-height: 7.5em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
