---
const {
  as = "button",
  class: clazz = "",
  textTransform = "normal-case",
  ...props
} = Astro.props;

const classes = `btn ${textTransform} ${clazz}`;
---

{
  as === "button" && (
    <button class={classes} {...props}>
      <slot />
    </button>
  )
}

{
  as === "link" && (
    <a class={classes} {...props}>
      <slot />
    </a>
  )
}

{
  as === "label" && (
    <label class={classes} {...props}>
      <slot />
    </label>
  )
}
